/venv/
.idea
.idea/
.env
/data/*
data*
/.vscode/
__pycache__/*
common/__pycache__/*
red/__pycache__/*
blue/__pycache__/*
/logs*
/models*
test.ipynb
src/red/gan/generated_images/*.png
*.err
*.out
src/red/gan/stylegan3/